.gallery {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.galleryItem {
  margin: auto;
}

.galleryItem h3 {
  text-align: center;
}

.galleryItem a {
  text-align: center;
  text-decoration: none;
}

.galleryItem div {
  width: 250px;
  display: flex;
  justify-content: space-around;
  padding: 0 30px 0 30px;
}

.text {
  color: black;
  transition: color 200ms linear;
  margin: 10px 0 10px 0;
}

.text:hover {
  color: rgb(243, 129, 129);
}
