.gallery {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.galleryItem {
  margin: auto;
}

.galleryItem h3 {
  text-align: center;
}

.galleryItem a {
  text-align: center;
}

.galleryItem div {
  width: 200px;
  display: flex;
  justify-content: space-around;
}