.icon {
  width: 32px;
  height: 32px;
  fill: #000000,
}

/* .svgImages {
  fill: black;
  width: 32px;
  height: 32px;
}

.svgImages:hover {
  fill: rgb(243, 129, 129)
}

.link {
  width: 32px;
  height: 32px;
} */